.reveal {
  font-family: "BIZ UDPGothic", "BIZ UDPゴシック", "Regular";
  font-size: 32pt;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "BIZ UDPGothic", "BIZ UDPゴシック", "Regular";
}
.reveal h1,
.reveal h2 {
  font-size: 60pt;
}
,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}
